In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
from collections import Counter

In [5]:
art = pd.read_csv('/Users/smitaupadhyay/Desktop/public_art.csv')

In [7]:
art.head()

,Title,Last Name,First Name,Location,Medium,Type,Description,Latitude,Longitude,Mapped Location
0,[Cross Country Runners],Frost,Miley,"4001 Harding Rd., Nashville TN",Bronze,Sculpture,NaN,36.12856,-86.83660,"(36.12856, -86.8366)"
1,[Fourth and Commerce Sculpture],Walker,Lin,"333 Commerce Street, Nashville TN",NaN,Sculpture,NaN,36.16234,-86.77774,"(36.16234, -86.77774)"
2,12th & Porter Mural,Kennedy,Kim,114 12th Avenue N,Porter all-weather outdoor paint,Mural,Kim Kennedy is a musician and visual artist wh...,36.15790,-86.78817,"(36.1579, -86.78817)"
3,A Splash of Color,Stevenson and Stanley and ROFF (Harroff),Doug and Ronnica and Lynn,616 17th Ave. N.,"Steel, brick, wood, and fabric on frostproof c...",Mural,Painted wooden hoop dancer on a twenty foot po...,36.16202,-86.79975,"(36.16202, -86.79975)"
4,A Story of Nashville,Ridley,Greg,"615 Church Street, Nashville TN",Hammered copper repousse,Frieze,"Inside the Grand Reading Room, this is a serie...",36.16215,-86.78205,"(36.16215, -86.78205)"

In [36]:
#how many row are in df-art
print(art.shape[0])

#how many col are in df art
print(art.shape[1])

132
10

In [37]:
type(art)

pandas.core.frame.DataFrame

In [18]:
types = art.Type
types2 = art['Type']
print('types is ', type(types))
print('types2 is', type(types2))

types is  <class 'pandas.core.series.Series'>
types2 is <class 'pandas.core.series.Series'>

In [11]:
# to find the count of each entry in col in df
art_type_counts = Counter(art.Type)

In [12]:
art_type_counts

Counter({'Bronzes': 1,
         'Fountain': 1,
         'Frieze': 2,
         'Furniture': 1,
         'Mobile': 2,
         'Monument': 16,
         'Mosaic': 2,
         'Multipart': 1,
         'Mural': 38,
         'Relief': 1,
         'Sculpture': 61,
         'Sculpture/Fountain': 1,
         'Stained Glass': 1,
         'Street Art': 1,
         'Various': 2,
         'mural': 1})

In [19]:
mat1 = art.Medium
mat2 = art.Medium
mat3 = art.Medium

In [25]:
#print(mat1)
mat1.shape #how many rows

(132,)

In [22]:
type(mat1)

pandas.core.series.Series

In [26]:
#axis=1 -indicates combinig the "Series "as columns
col_df = pd.concat([mat1, mat2, mat3], axis =1 )
col_df.head(3)

,Medium,Medium,Medium
0,Bronze,Bronze,Bronze
1,NaN,NaN,NaN
2,Porter all-weather outdoor paint,Porter all-weather outdoor paint,Porter all-weather outdoor paint

In [29]:
row_df = pd.concat([mat1, mat2, mat3], axis = 0 )
row_df.head(3)

0                              Bronze
1                                 NaN
2    Porter all-weather outdoor paint
Name: Medium, dtype: object

In [33]:
row_df.shape

(396,)

In [34]:
col_df.shape

(132, 3)

In [44]:
type(art.Medium.value_counts())

pandas.core.series.Series

In [45]:
#how many values of each type
using_counter = Counter(art.Medium)

In [46]:
type(using_counter)

collections.Counter

In [52]:
#using the most common () function -what are the TOP 5 most common value?
#output is a list of tuples
top_5 = using_counter.most_common(5)
top_5

[('Bronze', 12),
 ('Stone', 5),
 (nan, 4),
 ('Latex paint and spray paint', 4),
 ('Spray Paint', 3)]

In [53]:
type(top_5)

list

In [54]:
#converting the top 5 to df // changing list of tuples to df
pd.DataFrame(top_5)

                             0   1
0                       Bronze  12
1                        Stone   5
2                          NaN   4
3  Latex paint and spray paint   4
4                  Spray Paint   3

In [50]:
#convert the counter to dictionary
dict_counter = dict(using_counter)
dict_counter

{'83 Stained glass medallions': 1,
 'Acrylic Paint': 1,
 'Acrylic on Brick': 1,
 'Acrylic on Brick; acrylic on metal wall panels': 1,
 'Acrylic on Drywall': 1,
 'Acrylic on canvas': 1,
 'Airframe aluminum and metal foil': 1,
 'Aluminum': 1,
 'Aluminum panels': 1,
 'Barre granite': 1,
 'Bas-relief on granite': 1,
 'Bronze': 12,
 'Bronze mounted on grass': 1,
 'Bronze on Carrera marble base': 1,
 'Bronze on a granite base': 1,
 'Bronze on a limestone and granite base': 1,
 'Bronze on a limestone base': 1,
 'Bronze on a stone base': 1,
 'Bronze sculpture': 3,
 'Bronze sculpture as centerpiece of fountain': 1,
 'Bronze sculpture on a pedestal of concrete': 1,
 'Bronze sculpture on bronze base with black granite wall in back The back wall has bronze relief': 1,
 'Bronze sculpture with brick base': 1,
 'Bronze sculpture with patina on a Tennessee marble base': 1,
 'Bronze stool and guitar on a granite plynth': 1,
 'Bronze with a green patina on a granite base': 1,
 'Bronze with brown patina on granite base': 1,
 'Bronze with green patina on green Swedish granite': 1,
 'Cast Iron': 1,
 'Cast bronze': 1,
 'Ceramic tile set in concrete reinforced with steel rods and wire mesh': 1,
 'Cold cast bronze': 1,
 'Cold cast processed glass': 1,
 'Concrete': 1,
 'Concrete or white marble on a concrete base': 1,
 'Copper on marble slab base': 1,
 'Cortin Steel': 1,
 'Fiberglass and Paint': 1,
 'Fiberglass resin and stainless steel': 1,
 'Found metal objects': 1,
 'Granite globe floating on 1/8 inch of water': 1,
 'Gypsum cement reinforced with fiberglass over metal armature, marble base, gold leaf (23.75 karat), paint': 1,
 'Hammered copper repousse': 1,
 'Hollow bronze on a marble base': 2,
 'Hollow metal': 1,
 'Houge and Meek and Sweenson': 1,
 'House paint on brick': 1,
 'House paint on metal': 1,
 'House paint on vinyl': 1,
 'House paint on wood': 1,
 'Indiana limestone': 1,
 'Kinney and Scholz': 3,
 'Latex Paint': 3,
 'Latex house paint on wood fence': 1,
 'Latex paint': 1,
 'Latex paint and spray paint': 4,
 'Light interference and transformation panels': 1,
 'Limestone': 1,
 'Marble': 1,
 'Marble on barre granite': 1,
 'Metallic paint on metal/found object': 1,
 'Mixed Media - wood and paint': 1,
 'Mixed Media Use of heavy guage aluminum wire and the two figures are dressed in hand-tailored clothes': 1,
 'Mosaic mural': 1,
 'Oil on Canvas': 1,
 'Paint': 1,
 'Paint on cement retaining wall': 1,
 'Painted metal': 1,
 'Painted sheet metal; base - concrete, wooden railroad ties, and gravel': 1,
 'Painting': 1,
 'Painting on Stone': 1,
 'Painting/mural': 1,
 'Plaster': 1,
 'Porcelain tile': 1,
 'Porter all-weather outdoor paint': 1,
 'Sculpture: bronze with brown patina; \nBase: concrete covered with aggregate pebbles': 1,
 'Sculpture: bronze, painted copper over patina;  Base: granite': 1,
 'Sculpture: bronze;  \nBase: stone on a concrete platform': 1,
 'Sculpture: marble; sub base: marble; Bottom base: granite': 1,
 'Silicate paint on brick and concrete block': 1,
 'Silicate paint on concrete': 1,
 'Spray Paint': 3,
 'Steel': 1,
 'Steel and Civil War cannonballs': 1,
 'Steel, brick, wood, and fabric on frostproof ceramic tile': 1,
 'Stone': 5,
 'Stone on concrete and brick base': 1,
 'Unknown metal': 2,
 'acrylic': 1,
 'acrylic & spray paint on plywood': 1,
 'bronze': 1,
 'bronze on bronze bench': 1,
 'bronze on granite bench': 1,
 'enamel spray paint': 1,
 'high grade mild steel - galvanized, crystal': 1,
 'interior wall paint on board': 1,
 'latex block paint on concrete': 1,
 nan: 4,
 'paint on brick': 1,
 'painting': 1,
 'spray paint on wall': 1}

In [57]:
##DICTIONARIES
##Artist last name(Key) ;; art title (vale)

dict{key = art["Last Name"], value = art["Description"]}

SyntaxError: invalid syntax (<ipython-input-57-0ae3ff58c592>, line 4)

In [58]:
#this gives the output as a dic but overwrite the value each time it finds a new entry for the key
#because 
dict( zip (art['Last Name'], art['Title']))

{'Baker': 'History in Stained Glass',
 'Bennyworth': 'Arial Triangle [from the Gravity Series]',
 'Bloomer': 'Foliated Scroll',
 'Brian Law / Jenna Colt': 'Maybelle Carter',
 'Bryan Deese, Audie Adams, Ryan Shrader': 'Johnny Cash Mural',
 'Cooper': 'Welcome to Flatrock',
 'Cornwell': 'Industry, Agriculture, Commerce, Statesmanship',
 'Cox-McCormack': 'Edward Ward Carmack',
 'Deese': 'The Waterfall Mural',
 'Eldred': 'Airport Sun Project',
 'Emery': 'Ariel',
 'Eskridge': 'The Birth of Apollo',
 'Faxon': 'The Readers',
 'Flack': 'The Recording Angel',
 'Frost': '[Cross Country Runners]',
 'Gelert and Cottrell': 'Furman Monument',
 'Grey': 'President Andrew Johnson',
 'Guion': 'Cool Fences',
 'Haas': 'Nashville, A History through Maps and Aerial Views',
 'Hastings': 'Dancing on Air',
 'Healing Arts Project, Inc.': 'Building a Positive Community',
 'Hendon': 'Roy Orbison Tribute Statue',
 'Houge and Meek and Sweenson': 'Tennessee Falls',
 'Hughes': 'Les Paul Guitar Mural',
 'Hunter': 'Flights of Fantasy',
 'Kahn': 'Wind Reeds',
 'Kaskey': 'Orpheus and Eurydice',
 'Kennedy': '12th & Porter Mural',
 'Kinney': "Tennessee Confederate Women's Memorial",
 'Kinney and Scholz': 'Victory',
 'Kneiss': 'Sir Draco Star (a.k.a Eli)',
 'LeQuire': 'Women Suffrage Memorial',
 'Limor': 'Servant or Master',
 'Lucking-Reilley': 'Can-Do',
 'Martin': 'Rolf and Daughters Mural',
 'McGraw': "Children's Chairs For The Seasons",
 'Medwedeff': 'Confluence',
 'Miles': 'Statue of Dr. W. E. B. Dubois',
 'Mills': 'Andrew Jackson',
 'Mims': 'The Three Graces',
 'Moretti': 'The Peace Monument',
 'Mutt': 'Benedictio',
 'Neighborhood children supervised by artists Mimi Shimmin, Doug Stevenson, and Pam Vallett': 'Various',
 'Nicoll': 'Confederate Memorial',
 'Noland': 'Something in the Air',
 'Omari Booker & The REAL Program at Oasis Center': 'We Are Our Stories',
 'Outlaw': 'The Prince',
 'Parrish': 'Untitled',
 'Plensa': 'Isabella',
 'Prado': 'Migration',
 'Prestwod': 'April Baby',
 'Purcell': 'In Concert',
 'Ralston': 'Angel',
 'Randolf and Glick': 'Dragon Wall Mural',
 'Ridley': 'A Story of Nashville',
 'Rudloff': 'Youth Opportunity Center-STARS Nashville - Peace Jam mural',
 'Saporiti': 'Volume',
 'Schon': 'Raccoons and the Magic Horseshoes',
 'Sheng': 'Waveform: Pan American Blues',
 'Shields': 'Thomas Gleen Ryman',
 'Silva': 'Sea Serpent',
 'Smith': 'Owen Bradley',
 'Sorci': 'Timeless',
 'Sterling Goller-Brown and Ian Lawrence, co-creators': 'Tomatoes',
 'Sterling Goller-Brown.  Ian Lawrence': 'Two Musicians',
 'Stevenson and Stanley and ROFF (Harroff)': 'A Splash of Color',
 'The Kubach - Wilmsen Team': 'La Storia della Terra',
 'Toomey': 'St. George and the Maiden',
 'Tuck-Hinton': 'Tennessee WWII Memorial',
 'Ulibarri': 'Rolling Hills',
 'Unknown': 'Polarbears with Snowballs',
 'Various': 'Vanderbilt University - Public Collection',
 'Varo': 'The Flutist',
 'Vichy': 'Phillips Monument',
 'Walker': 'Lightning Wire Fountain',
 'White & Son': 'Warner Monument',
 'Will Ryman': 'Rose on 65th Street',
 'Williams': 'Voices Gathering',
 'Wise': 'Samaritan',
 'Yandell': 'John W. Thomas',
 'Zolnay': 'Sam Davis of Tennessee',
 'de Weldon': 'Sergeant Alvin C. York'}

In [59]:
len(art['Last Name'].unique())

82

In [63]:
len(art['Last Name']) == len(art['Last Name'].unique())

False

In [61]:
art[art['Last Name'] == 'Faxon']

,Title,Last Name,First Name,Location,Medium,Type,Description,Latitude,Longitude,Mapped Location
9,Anticipation,Faxon,Russell,"505 Deaderick Street, Nashville TN",Cold cast bronze,Sculpture,A statue of a woman with legs crossed sitting ...,36.16489,-86.78184,"(36.16489, -86.78184)"
17,Blowing Bubbles,Faxon,Russell,"4715 Harding Pike, Nashville TN",Bronze,Sculpture,NaN,36.11975,-86.85343,"(36.11975, -86.85343)"
18,Breaking Bread,Faxon,Russell,705 Drexel Street,bronze,Sculpture,The work represents the principal of sharing.,36.15203,-86.77849,"(36.15203, -86.77849)"
21,Chet Atkins,Faxon,Russell,"Corner of Fifth Avenue North and Union Street,...",Bronze stool and guitar on a granite plynth,Sculpture,A sculpture of a young Chet Atkins seated on a...,36.16466,-86.78102,"(36.16466, -86.78102)"
31,Ed and Bernice Johnson and Mary,Faxon,Russell,"1900 Belmont Blvd, Nashville TN",Bronze,Sculpture,NaN,36.13264,-86.79473,"(36.13264, -86.79473)"
51,Isabelle and Calvin,Faxon,Russell,1718 Patterson Street,bronze on granite bench,Sculpture,NaN,36.15759,-86.79837,"(36.15759, -86.79837)"
67,"Oh, Roy",Faxon,Russell,"116 5th Ave N, Nashville TN",Bronze,Sculpture,Minnie Pearl and Roy Acuff seated on a bench i...,36.16151,-86.77816,"(36.16151, -86.77816)"
95,St. Vincent de Paul,Faxon,Russell,"2216 State Street, Nashville TN",Hollow metal,Sculpture,De Paul wears long robes and a skull cap. He ...,36.15234,-86.80603,"(36.15234, -86.80603)"
101,Tennessee Korean War Memorial,Faxon,Russell,"301 6th Avenue North, Nashville TN",Bronze sculpture on bronze base with black gra...,Monument,Two male figures dressed in combat fatigues an...,36.16414,-86.78289,"(36.16414, -86.78289)"
108,The Readers,Faxon,Russell,"3701 Benham Avenue, Nashville",bronze on bronze bench,Sculpture,NaN,36.10997,-86.80924,"(36.10997, -86.80924)"